#########    ELK-FLEET_APM    ########## 
COMPOSE_PROJECT_NAME=es
STACK_VERSION=9.3.0
CLUSTER_NAME=docker-cluster
LICENSE=basic
#LICENSE=trial
ES_PORT=9200
KIBANA_PORT=5601
FLEET_PORT=8220
APMSERVER_PORT=8200
ELASTIC_APM_SECRET_TOKEN=supersecrettoken
ES_MEM_LIMIT=3073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=Password1#
KIBANA_USERNAME=kibana_system
KIBANA_PASSWORD=Password1#

######### OPEN TELEMETRY ######### 

#OTELINPUT=http://aspiredashboard:18889	     # directamente a aspiredashboard
#OTELINPUT=http://localhost:4317		     # otelcol externo
OTELINPUT=http://otelcol:4317                # otelcol de este compose con GRPC
#OTELINPUT=http://otelcol:4318                # otelcol de este compose con HTTP/Protobuf
#OTELINPUT=http://host.docker.internal:14317 # atacando a compose de elk

OTELC_CONFIG=aspire #all, elk, newrelic, aspire, opensearch, openobserve
COMPANY_NAME=unir

#########   APP COMPONENTS   #########
RATING_API=http://rating.webapi:5398
SERVICENAMEPREFIX=des.arc
REDISSERVER=redis:6379
RABBIT_SERVER=rabbitmq
RABBIT_USER=guest
RABBIT_PASSWORD=guest